---
interface Props {
  label: string;
  href?: string;
  class?: string;
}

const { class: className, href, label } = Astro.props;
---

<li>
  {
    href ? (
      <a href={href} class={`text-blue-600 hover:underline ${className}`}>
        {label}
      </a>
    ) : (
      <span class={`text-gray-400 ${className}`}>{label}</span>
    )
  }
</li>
