---
import { workPageData } from '../../_/work.data';
---

<header class="mb-5">
  <div class="flex justify-between w-full mb-2">
    <div>
      <h1 class="text-2xl sm:text-3xl font-semibold mb-1.5 text-gray-900">
        {workPageData.candidate.name}
      </h1>
      <h2 class="text-gray-700 text-lg">
        {workPageData.candidate.title}
      </h2>
    </div>
    <div class="text-right">
      <address class="text-xs not-italic mb-2">
        <div class="mb-1">
          <a href={`mailto:${workPageData.candidate.email}`} class="text-gray-600 hover:underline">
            {workPageData.candidate.email}
          </a>
        </div>
        <div class="mb-1">
          <a
            href={`tel:+1${workPageData.candidate.phone.replace(/-/g, '')}`}
            class="text-gray-600 hover:underline"
          >
            {workPageData.candidate.phone}
          </a>
        </div>
      </address>
      <div class="text-xs space-y-1">
        {
          workPageData.candidate.website && (
            <div>
              <a
                href={workPageData.candidate.website}
                class="text-gray-600 hover:underline"
                target="_blank"
                rel="noopener noreferrer"
              >
                {workPageData.candidate.website}
              </a>
            </div>
          )
        }
        {
          workPageData.candidate.linkedIn && (
            <div>
              <a
                href={workPageData.candidate.linkedIn}
                class="text-gray-600 hover:underline"
                target="_blank"
                rel="noopener noreferrer"
              >
                {workPageData.candidate.linkedIn}
              </a>
            </div>
          )
        }
        {
          workPageData.candidate.github && (
            <div>
              <a
                href={workPageData.candidate.github}
                class="text-gray-600 hover:underline"
                target="_blank"
                rel="noopener noreferrer"
              >
                {workPageData.candidate.github}
              </a>
            </div>
          )
        }
      </div>
    </div>
  </div>
</header>

<!-- Professional Summary -->
<section class="mb-5 p-3 rounded-md">
  <p class="leading-relaxed text-gray-800">{workPageData.candidate.summary}</p>
</section>

<!-- Work Experience Section -->
<section class="mb-7">
  <h2 class="text-lg sm:text-xl font-bold text-gray-900 mb-3 border-b-2 border-gray-400 pb-1">
    Work Experience
  </h2>
  <div class="space-y-5">
    {
      workPageData.candidate.jobs.map(job => (
        <article>
          <header
            class="
            font-semibold
            text-base
            text-gray-900
          "
          >
            {job.company} - {job.title} <span class="text-gray-600">({job.period})</span>
          </header>
          <ul
            class="
            list-disc
            ml-6
            mt-1.5
            space-y-0.5
            text-sm
            text-gray-700
          "
          >
            {job.highlights.map(highlight => (
              <li>
                <span class={highlight.includes(':') ? 'text-gray-900' : 'text-gray-600'}>
                  {highlight}
                </span>
              </li>
            ))}
          </ul>
        </article>
      ))
    }
  </div>
</section>

<!-- Education -->
<footer class="text-center
  mt-5
  border-t
  border-gray-300
  pt-3">
  <p class="text-xs
    text-gray-600">
    B.S. in Computer Science, Utah Valley University, April 2013
  </p>
</footer>
