---
import App from '../../lib/app';

import { Center, PageHero, VStack } from '../../lib/ui';

import { makeSherpa } from '../_/home.sherpa';

import { WorkJobCard } from './_/job';
import { WorkProjectCard } from './_/project';
import { WorkSkillCard } from './_/skill';
import { WorkSkillTagCard } from './_/skillTag';
import { WorkPage } from './_/WorkPage';
import { workPageData } from './_/work.data';
import WorkPageSection from './_/WorkPageSection';
import ResumeSkeleton from './resume/_/ResumeSkeleton.astro';

const sherpa = makeSherpa();
---

<WorkPage>
  <App.PageBody
    backgroundColor="bg-gray-100"
    class={`
      flex
      flex-col
      min-h-screen
    `}
  >
    <PageHero title={workPageData.title} subtitle={workPageData.subtitle} class="w-full" />

    <App.PageSection
      class={`
        w-full
        py-12
        sm:py-16
        md:py-20
        space-y-32
      `}
    >
      <VStack
        class={`
          gap-12
        `}
      >
        <WorkPageSection.Container>
          <WorkPageSection.Title>
            {workPageData.sections.workExperience.title}
          </WorkPageSection.Title>
          {workPageData.candidate.jobs.map(job => <WorkJobCard {...job} />)}
        </WorkPageSection.Container>

        <WorkPageSection.Container>
          <WorkPageSection.Title>{workPageData.sections.projects.title}</WorkPageSection.Title>
          <WorkPageSection.Grid>
            {workPageData.candidate.projects.map(project => <WorkProjectCard {...project} />)}
          </WorkPageSection.Grid>
        </WorkPageSection.Container>

        <WorkPageSection.Container>
          <WorkPageSection.Title>
            {workPageData.sections.coreProficiencies.title}
          </WorkPageSection.Title>
          <WorkPageSection.Grid>
            {workPageData.candidate.proficiencies.map(skill => <WorkSkillCard {...skill} />)}
          </WorkPageSection.Grid>
        </WorkPageSection.Container>

        <WorkPageSection.Container>
          <WorkPageSection.Title>
            {workPageData.sections.technicalSkills.title}
          </WorkPageSection.Title>
          <WorkPageSection.Grid>
            {
              workPageData.candidate.skillTags.map(category => (
                <WorkSkillTagCard
                  category={category.category}
                  skills={workPageData.candidate.skills}
                  skillIds={category.skillIds}
                  icon={category.icon}
                />
              ))
            }
          </WorkPageSection.Grid>
        </WorkPageSection.Container>

        <WorkPageSection.Container>
          <WorkPageSection.Title>{workPageData.sections.resume.title}</WorkPageSection.Title>
          <Center class="mt-12">
            <App.Link
              class={`
                relative
                w-3/4
                xs:w-3/4
                sm:w-2/3
                md:w-1/2
                group
                transition-all
                duration-300
                hover:scale-105
                hover:shadow-2xl
              `}
              href={sherpa.work.resume({})}
              target="_blank"
            >
              <div
                class="absolute -inset-4 bg-gradient-to-r from-blue-50 to-indigo-50 rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300"
              >
              </div>
              <ResumeSkeleton />
            </App.Link>
          </Center>
        </WorkPageSection.Container>
      </VStack>
    </App.PageSection>
    <App.PageFooter />
  </App.PageBody>
</WorkPage>
