---
interface Props {
  label: string;
  href?: string;
  class?: string;
  'data-testid'?: string;
}

const { class: className, href, label, 'data-testid': dataTestId } = Astro.props;
---

<li data-testid={dataTestId}>
  {
    href ? (
      <a href={href} class={`text-blue-600 hover:underline ${className}`} data-astro-prefetch>
        {label}
      </a>
    ) : (
      <span class={`text-gray-400 ${className}`}>{label}</span>
    )
  }
</li>
